---
import ProfileLayout from 'src/components/layouts/profile.astro';
import { getUser } from 'src/session.ts';
import { display_medium } from 'src/styles/atomic/fonts.css';

const user = getUser(Astro.cookies);

if (!user) {
	return Astro.redirect('/login');
}
---

<ProfileLayout>
	<h1 class={display_medium}>My Account</h1>
</ProfileLayout>
